<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppStoreID</key>
	<string>1310420792</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Photos+</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.10</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.stells.batch</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>btch</string>
				</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>78</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fb</string>
		<string>fbapi</string>
		<string>fbapi20150629</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>comgooglemaps-x-callback</string>
		<string>comgooglemaps</string>
		<string>comgooglemapsurl</string>
		<string>googlegmail</string>
		<string>inbox-gmail</string>
		<string>instagram</string>
		<string>twitter</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsForMedia</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>apple.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>apps.photo</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>apps.photos</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>flightaware.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>google.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>We would like to access your calendar to save the new event.</string>
	<key>NSCameraUsageDescription</key>
	<string>Accessing your camera to capture and save photos into the standard iOS photo library for editing them with our tools.</string>
	<key>NSContactsUsageDescription</key>
	<string>We would like to access your contacts to save the new contact entry.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We will access your location to capture photos.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We will access your microphone to record video.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We will access your photos library to edit them.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>AutoSelectIntent</string>
		<string>CaptureActionsToDoIntent</string>
		<string>CaptureAllTextIntent</string>
		<string>ChooseToDeleteIntent</string>
		<string>ConvertLatestLivePhotoIntent</string>
		<string>ConvertLatestVideoIntent</string>
		<string>DoAnyIntent</string>
		<string>GiveMeThatPhoneNumberIntent</string>
		<string>OpenCameraIntent</string>
		<string>OpenIntent</string>
		<string>PasteImageIntent</string>
		<string>RecognizeTextIntent</string>
		<string>TakeAGIFWithLivePhotoIntent</string>
		<string>TakeAPhotoIntent</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIMainStoryboardFile</key>
	<string>AppStoryboard</string>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Dark</string>
</dict>
</plist>
